{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": [0],
    "import/no-unresolved": [2, { ignore: ['^react(-native)?$'] }],
    "import/extensions": [2, { "js": "never", "json": "always" }],
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", {
      "arrays": "always-multiline",
      "objects": "always-multiline",
      "imports": "always-multiline",
      "exports": "always-multiline",
      "functions": "ignore",
    }]
  }
}
